<div class="padding-bottom-24">
    <mat-form-field class="example-form-field">
        <mat-label>Enter a city name:</mat-label>
        <input matInput type="text" [(ngModel)]="cityName">
        @if (cityName) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="submitCity()">
            <mat-icon>search</mat-icon>
        </button>
        }
    </mat-form-field>
</div>

<div class="padding-bottom-24">
    <app-weather-card></app-weather-card>
</div>

<div class="padding-bottom-24">
    <app-weather-forecast></app-weather-forecast>
</div>
