<!-- <div class="main-container" [class.is-mobile]="mobileQuery.matches"> -->
<div class="main-container">
  <mat-toolbar color="primary">

    <!-- <mat-icon class="menu-icon mr-16" (click)="snav.toggle()">menu</mat-icon> -->
    <h1>ClimateInsight</h1>
  </mat-toolbar>
  <!-- <app-main></app-main> -->
  <!-- <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav class="sidenav" [opened]="mobileQuery.matches ? 'false' : true"
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <ul class="menu-items">
        <li>Test</li>
        <li routerLink="/" routerLinkActive="active"><mat-icon>dashboard</mat-icon>Dashboard</li>
        <li routerLink="/user" routerLinkActive="active"><mat-icon>perm_identity</mat-icon>User</li>
        <li routerLink="products" routerLinkActive="active"><mat-icon>local_shipping</mat-icon>Products</li>
      </ul>
    </mat-sidenav> -->
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  <!-- </mat-sidenav-container> -->
</div>