.condition-container {
  display: flex;
  flex-direction: column;
}

.forecast-days-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .forecast-days-container {
    flex-direction: column;
    gap: 16px;
  }
}
