@if (weatherData.current && weatherData.location) {
<h1>Current Weather</h1>


<mat-card class="card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{weatherData.location.name}}</mat-card-title>
        <mat-card-subtitle>last updated {{lastUpdate}} </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <div class="condition-container">
            <img mat-card-sm-image src="{{weatherData.current.condition.icon}}"><br>
            {{weatherData.current.condition.text}} <br>
        </div>


        <h2> {{weatherData.current.temp_c}}°C</h2>
        <div class="stats">
            <span class="fw-bold">feelslike</span>
            <span>{{weatherData.current.feelslike_c}}°C</span>
        </div>


    </mat-card-content>
</mat-card>

}


<!-- {{timeOfCalculation}}
{{weatherData.name}}<br>
<div *ngIf="weatherData.weather && weatherData.weather.length > 0">
    {{weatherData.weather[0].main}} -->

<!-- @if (weatherData.weather[0].main == "Rain") {
       <div>TEST</div>
    } -->

<!-- @switch (weatherData.weather[0].main) {
        @case ("Rain") {
           RAIN
        }
        @case ("Clouds") {
            CLOUDS
        }
        @default{
           
        }
    }
    {{weatherData.weather[0].description}} <br>
</div> -->


<!-- <div *ngIf="weatherData.rain">
   Precipitation 1hr:  {{weatherData.rain?.["1h"]}} mm/h:
</div>
Temperature 
{{weatherData.main?.temp}} <br>
Feels Like
{{weatherData.main?.feels_like}} <br>
Temperature Min
{{weatherData.main?.temp_min}}<br>
Temperature Max
{{weatherData.main?.temp_max}}<br>
Sunrise
{{sunrise}}<br>
Sunset
{{sunset}} <br>

Cloudiness {{weatherData.clouds?.all}}% <br> -->